<p>Hello <%= @warranty.user_id %>!</p>
<h1>Nueva garantia dada de alta </h1>
<p>Se ha registrado una nueva garantia en tu cuenta con los siguientes detalles:</p>

<p>Nombre : <%= @warranty.nombre %></p>
<p>No Identificacion : <%= @warranty.no_identificacion %></p>
<p>Dias restantes de garantia : <%= @warranty.dias_restantes %> </p>
<p>Estado : <%= @warranty.estado %> </p>
<p>Fecha de Adquisicion  <%= @warranty.fecha_adq %> </p>

<p>Por favor, revisa tus garantias para verificar esta transacción.</p>