

<h1>Mis Garantias</h1>

<table>
  <thead>
    <table cellpadding="20">
    <tr>
      <th>Nombre</th>
      <th>No identificacion</th>
      <th>Fecha de adquisicion</th>
      <th>Estado</th>
      <th>Periodo dias</th>
      <th>Dias restantes</th>
      <th colspan="3"></th>
    </tr>
    </table>
  </thead>

  <tbody>
    <% @warranties.each do |warranty| %>
    <table cellpadding="10">
      <tr>
        <td><%= warranty.nombre %></td>
        <td><%= warranty.no_identificacion %></td>
        <td><%= warranty.fecha_adq %></td>
        <td><%= warranty.estado %></td>
        <td><%= warranty.periodo_dias %></td>
        <td><%= warranty.dias_restantes %></td>
        <td><%= link_to 'Show', warranty %></td>
        <td><%= link_to 'Edit', edit_warranty_path(warranty) %></td>
        <td><%= link_to 'Destroy', warranty, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
      </table>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nueva Garantia', new_warranty_path %>
