
<p>
  <strong>Nombre:</strong>
  <%= @warranty.nombre %>
</p>

<p>
  <strong>No identificacion:</strong>
  <%= @warranty.no_identificacion %>
</p>

<p>
  <strong>Fecha adq:</strong>
  <%= @warranty.fecha_adq %>
</p>

<p>
  <strong>Estado:</strong>
  <%= @warranty.estado %>
</p>

<p>
  <strong>Periodo dias:</strong>
  <%= @warranty.periodo_dias %>
</p>

<p>
  <strong>Dias restantes:</strong>
  <%= @warranty.dias_restantes %>
</p>

<div>
<%= form_with model: @warranty, url: add_reference_path(@warranty), method: :post, multipart: true do |form| %>
  <!-- Crea un campo oculto para pasar el id de la garantía al controlador -->
  <%= form.hidden_field :id %>
  <!-- Crea un campo de tipo file para subir el archivo de referencia -->
  <%= form.file_field :comprobante_garantia %>
  <!-- Crea un botón para enviar el formulario -->
  <%= form.submit "Agregar referencia" %>
<% end %>
</div>
<br><br>
<div>
  <% if @warranty.comprobante_garantia.attached? %>
    <% @warranty.comprobante_garantia.each do |archivo|%>
        <% if archivo.content_type.include?("image") %>
          <%= image_tag(archivo.variant(resize: '300x300')) %>
        <% elsif archivo.content_type.include?("pdf") %>
          <%= image_tag("pdf_logo.png") %> <%= archivo.filename %>
          <%= link_to archivo, target: "_blank" do %>
               Ver PDF
        <% end %>
        <% end %> 
        <%= link_to "Ver comprobante de garantía original", rails_blob_path(archivo) %>
        <%= link_to "Eliminar comprobante de garantía", destroy_images_warranty_path(archivo.signed_id, @warranty.id), method: :delete %>
    <%end%>
  <% end %>
</div>



<%= link_to 'Edit', edit_warranty_path(@warranty) %> |
<%= link_to 'Back', warranties_path %>
