<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @warranty.nombre %>
</p>

<p>
  <strong>No identificacion:</strong>
  <%= @warranty.no_identificacion %>
</p>

<p>
  <strong>Fecha adq:</strong>
  <%= @warranty.fecha_adq %>
</p>

<p>
  <strong>Estado:</strong>
  <%= @warranty.estado %>
</p>

<p>
  <strong>Periodo dias:</strong>
  <%= @warranty.periodo_dias %>
</p>

<p>
  <strong>Dias restantes:</strong>
  <%= @warranty.dias_restantes %>
</p>

<div>
<%= form_with model: @warranty, url: add_reference_path(@warranty), method: :patch, multipart: true do |form| %>
  <!-- Crea un campo oculto para pasar el id de la garantía al controlador -->
  <%= form.hidden_field :id %>
  <!-- Crea un campo de tipo file para subir el archivo de referencia -->
  <%= form.file_field :comprobante_garantia %>
  <!-- Crea un botón para enviar el formulario -->
  <%= form.submit "Agregar referencia" %>
<% end %>
</div>




<%= link_to 'Edit', edit_warranty_path(@warranty) %> |
<%= link_to 'Back', warranties_path %>
